body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ln-square {
  width: 10px;
  height: 10px;
  background-color: #EE6E73;
  display: inline-block;
  margin-right: 10px;
}

.manga-square {
  width: 10px;
  height: 10px;
  background-color: #2BBBAD;
  display: inline-block;
}